
@media (min-width:768px) and (max-width:992px){
    .left-title p{
        font-size:0.5rem;
    }
}
@media (min-width:993px) and (max-width:1199px){
    .left-title p{
        font-size:1.5rem;
    }
}
@media (min-width:1200px){
    .left-title p{
        font-size:2.5rem;
    }
}

.bg-zhuce{
    position: relative;
    width: 100%;
    height: 67.5rem;
    background: url(../image/zhuce/组\ 1.png) no-repeat center center;
    background-size: cover;
}
.zc-card{
    position: absolute;
    top:12.96%;
    right:3.28%;
    width:54.64%;;
    height:65.28%;
    background-color: #fff;
    border: 1px solid red;
}
.left-title{
    position: absolute;
    width:34.32%;
    height:12.04%;
    font-size:2.5rem;
    font-weight: normal;
    top:20%;
    left:4.27%;
    color:#fff;
    border:1px solid red;
}
.left-title :last-child{
    position: relative;
    left:10%;
    top:10%;
    left: 32%;
    top: 19%;
}
.zc-card-text-1{
    position: absolute;
    top:7.76%;
    left:4.24%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.in-title{
    padding-left:1rem;
    width:8rem;
    height:1.56rem;
    font-size:1.52rem;
    font-weight:bold;
    color:rgba(62,62,62,1);
    line-height:1.66rem;
}
.inner-text{
    position: absolute;
    top:17.76%;
    left: 2.6%;
    width: 59.8rem;
    height:29rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border:1px solid red;
}
.inner-text-title{
    width:8.1rem;
    margin-top: 0.5rem;
}
.inner-text-title li{
    font-size:1.14rem;
    font-weight:400;
    color:rgba(66,66,66,1);
    line-height:1.66rem;
    vertical-align: middle;
    text-align: right;
    margin-left: 1rem;
    margin-bottom:2rem;
}
.inner-text-span li{
    text-align:left;
    margin-bottom: 2.3rem;
}
.inner-text-span span{
    font-size:1.14rem;
    font-weight:400;
    color:rgba(109,109,109,1);
}
.inner-text-input input{
    width:17.5rem;
    height:2.06rem;
    margin:0 auto;
    
}
.inner-text-input li{
    margin-bottom:1.44rem;
}
.inner-text span::before{
    content:"*";
    display:inline-block;
    color:red;
}

.qiangdu-1{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.qiangdu-1 p{
    width:5.75rem;
    height:1.75rem;
    background-color: #FFD099;
    text-align:center;
    font-size:1.14rem;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-right:2px;
}
.btn{
    width: 7rem;
    height: 2.1rem;
}
select[name="idCard"]{
    font-size:1.14rem;
    font-weight:400;
    color:rgba(123,123,123,1);
    border:0;
}
















